{% extends 'layout.html.twig' %}

{% block rightside %}
    <ul class="list-group list-group-flush bg-transparent">
        {% if not json %}
            <li class="list-group-item bg-transparent">
                <button class="btn btn-primary" data-action = "{{ path('create') }}" id="create-btn">Save and get links</button>
            </li>
        {% elseif hash %}
            {% if hash.canRead %}
                <li class="list-group-item bg-transparent">
                    <label>Read only</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="button" id="button-read" disabled>Copy</button>
                        </div>
                        <input type="text" class="form-control" value="{{ url('main', {id: json.id, hash: json.hashRead.hash}) }}" readonly aria-describedby="button-read">
                    </div>
                </li>
            {% endif %}
            {% if hash.canEdit %}
                <li class="list-group-item bg-transparent">
                    <label>Edit</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="button" id="button-edit" disabled>Copy</button>
                        </div>
                        <input type="text" class="form-control" value="{{ url('main', {id: json.id, hash: json.hashEdit.hash}) }}" readonly aria-describedby="button-edit">
                    </div>
                </li>
            {% endif %}
        {% endif %}
    </ul>
{% endblock %}