{# @var json \App\Entity\Json #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div id="jsoneditor"
                     data-json="{{ json ? json.text|json_encode|e('html_attr') }}"
                     data-readonly="{{ hash ? not hash.canEdit }}"
                ></div>
            </div>
            <div class="col-md-4">
                {% block rightside %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
